*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    font-family:'Poppins', sans-serif;
    font-size:16px;
    color:#393c42;
}
.container{
    width:80%;
    margin:auto;
}
.clearfix{
    overflow:auto;
}
img{
    max-width:100%;
    height:auto;
}
/*------NAVIGATION-----*/
#home-navigation{
    position: absolute;
    width:100%;
}

.logo{
    float:left;
    margin-top:15px;
}
.logo h1{
    font-family: 'Indie Flower', cursive;
    font-size:35px;
}
.menu{
    float:right;
}
.menu li{
    display:inline;
    list-style:none;
}
.menu li a{
    padding:6px;
    display:inline-block;
    margin-top:15px;
    font-size:16px;
    font-weight:600;
    text-decoration:none;
    color:#444;
}
/*-----HOME-----*/
#home{
    height:100vh;
    background:url('../images/home.jpeg');
    background-size:cover;
    display:flex;
    align-items:center;
    justify-content:center;
}
.home-content{
    text-align:center;
}
.home-content h1{
    font-weight:600;
    font-size:48px;
     margin-bottom:25px;
}
.home-content p{
    font-size:19px;
    font-weight:600;
}
.button{
    background:#393c42;
    color:white;
    padding:11px 24px;
    cursor:pointer;
    text-decoration:none;
}
.button:hover{
    opacity:0.8;
    transition: all 0.3s ease-in; 
}
/*-----HEADER-----*/
#classic-navigation{
    min-height:80px; 
}
header{
    background:url('../images/home.jpeg');
    background-attachment:fixed;
    background-size:cover;  
    padding:155px 0;
}
/*------ABOUT------*/
#about{
    padding:120px 0;
}
.about-text{
    float:left;
    width:50%;
    padding:15px;
}
.about-image{
    float:right;
    width:50%;
    padding-left:35px;
}
.about-text h3{
    font-size:24px;
    font-weight:600;
    margin-bottom:15px;
}
.about-text p {
    margin-bottom:25px;
}
.about-button{
    padding:8px 15px;
    background:#393c42;
    color:white;
    font-size:14px;
    cursor:pointer;
}
.about-button:hover{
    opacity:0.8;
    transition: all 0.3s ease-in; 
}
/*-----BLOG-----*/
#blog{
    padding:125px 0;
}
.blog-box{
    width:33%;
    padding:20px;
    float:left;
}
.blog-box img{
    width:100%;
    margin-bottom:0;
}
.blog-box-content{
    padding: 19px;
    position:relative;
    top:-6px;
    box-shadow: 0 0 5px #ededed;
}
.blog-box-content h6{
    font-size:22px;
    font-weight:600;
    margin-bottom:10px;
}
.blog-box-content p{
    margin-bottom:15px;
}
.blog-button{
    padding:6px 12px;
    background:#393c42;
    color:white;
    font-size:14px;
    cursor:pointer;
}
.blog-button:hover{
    opacity:0.8;
    transition: all 0.3s ease-in; 
}
/*------CONTACT------*/
#contact{
    height:100vh;
    background:url('../images/1.jpg');
    background-size:cover;
    background-position:;
    display:flex;
    align-items:center;
    justify-content:center;
}
.contact-content{
    text-align:center;
    width:40%;
    float:right;
    margin-right:70px;
    background:rgba(0, 0, 0, 0.03);
    padding:55px;
    border-radius: 2px;
    margin-top: 80px;
}
.transparent{
    background:transparent;
    border:none;
    border-bottom:1px solid #999;
    padding:17px;
    text-align:center;
    width:95%;
    font-size: 16px;
}
.contact-button{
    background:#393c42;
    color:white;
    padding:12px 25px;
    outline:none;
    display:inline-block;
    margin-top:25px;
    border:none;
    border-radius:2px;
    cursor:pointer;
}
.contact-button:hover{
    opacity:0.8;
    transition: all 0.3s ease-in; 
}
form h1 {
    font-size: 29px;
    font-weight: 600;
    margin-bottom: 15px;
}
form hr {
    width: 9%;
    margin: auto;
    border: 1px solid #555;
    margin-bottom: 25px;
}

/*------FOOTER------*/
footer{
    background:url('../images/footer.jpeg');
    padding:30px 0;
}
.footer-content{
    width:50%;
    margin:auto;
    text-align:center;
}
.footer-content ul li{
    list-style:none;
    display:inline;
}
.footer-content ul li a{
    padding:0 6px;
}
.footer-content ul li a i{
    font-size:21px;
}
@media(max-width:480px){
    #home-navigation{
        position:static;
        min-height:80%;
        background:#fff;
    }
    .logo{
        float:none;
        text-align:center;
    }
    .menu{
        float:none;
    }
    .menu li{
        display:block;
        text-align:center;
    }
    .about-text{
        width:100%;
        float:none;
    }
    .about-image{
        float:none;
        width:100%;
        text-align:center;
        padding:0;
    }
    .about-image img{
        margin-top:35px;
    }
    .blog-box{
        float:none;
        width:100%; 
    }
    #contact{
        background-position:right;
    }
    .contact-content{
        width:100%;
        float:none;
    }
}
@media (min-width:481px) and (max-width:762px){
    #home-navigation{
        position:static;
        min-height:80px;
        background:#fff;
    }
    .logo{
        float:none;
        text-align:center;
    }
    .menu{
        float:none;
    }
    .menu li{
        display:block;
        text-align:center;
    }
    .about-text{
        float:none;
        width:100%;
    }
    .about-image{
        float:none;
        width:100%;
        padding:0;
    }
    .about-image img{
        margin-top:30px;
    }
    .blog-box{
        float:none;
        width:100%;
    }
    #contact{
        background-position:right;
    }
    .contact-content{
        width:80%;
        float:none;
        margin:auto;
    }
}
@media (min-width:763px) and (max-width:997px){
    .about-text{
        float:none;
        width:100%;
    }
    .about-image{
        float:none;
        width:100%;
        padding:0;
    }
    .about-image img{
        margin-top:30px;
    }
    .blog-box{
        float:none;
        width:100%;
    }
    .contact-content{
        width:55%;
        margin-right:0;
    }
}